.form-create {
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    width: 50%;
    height: max-content;
    margin: 0 auto;
    padding-bottom: 45px;
    margin-top: 5%;
    box-shadow: #7BA8A3 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    background-color: #E8EEF2;
}

@media screen and (max-width: 768px) {
  .form-create {
    width: 25rem;
    height: max-content;
    padding-bottom: 3rem;
    margin-bottom: 10rem;
  }

}
.input-create {
    margin: 0 auto;
    width: 50%;
    height: 30px;
    margin-top: 50px;
    border-radius: 5px;
    padding: 5px;
    border: 2px solid rgba(123, 168, 163);
}

@media screen and (max-width: 768px) {
  .input-create {
    width: 15rem;
  }
}

.create-btn {
    width: max-content;
    margin: 0 auto;
    margin-top: 3rem;
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #2C5F7C;
    transition: border-color 0.25s;
    color: #fafafa;
    justify-content: center;
}

.create-btn:hover {
    color: #fafafa;
    background-color: #7BA8A3;
    cursor: pointer;
}

.title-create {
    text-align: center;
    font-size: xx-large;
    color: #2C5F7C;
    margin-top: 20px;
}