.title-404 {
    font-size: xx-large;
    color: #2C5F7C;
    margin: 0 auto;
    text-align: center;
}

.p-404 {
    font-size: 5rem;
    color: #2C5F7C;
    margin: 0 auto;
    text-align: center;
}