.form-update {
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 500px;
    padding: 5%;
    margin: 0 auto;
    margin-bottom: 5rem;
    margin-top: 5%;
    box-shadow: #7BA8A3 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    background-color: #E8EEF2;
}

@media screen and (max-width: 885px) {
  .form-update {
    width: 25rem;
    height: max-content;
    padding-bottom: 3rem;
    margin-bottom: 10rem;
  }
}

.input-edit {
    margin: 0 auto;
    width: 50%;
    height: 30px;
    margin-bottom: 45px;
    border-radius: 5px;
    padding: 5px;
    border: 2px solid rgba(123, 168, 163);
}

@media screen and (max-width: 885px) {
  .input-edit {
    width: 15rem;
  }
}

.title-edit {
text-align: center;
    font-size: xx-large;
    margin-top: 20px;
    color: #2C5F7C;
}

#content-edit {
    height:100px;
}

label {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    color: #2C5F7C;
}