.containList {
  display: flex;
  flex-wrap: wrap;
  gap: 1.8rem;
  margin-top: 50px;
}

@media screen and (max-width: 768px) {
  .containList {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.search {
  margin-top: 50px;
  height: 25px;
  width: 200px;
  padding: 5px;
  border-radius: 5px;
  border-style: none;
  box-shadow: #7BA8A3 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  border: 1px solid #7BA8A3;
}

@media screen and (max-width: 768px) {
  .search {
    display: block;
    margin: 20px auto;
  }
}

.search:focus {
  outline: none;
}

.articleLink:hover {
  text-decoration: none;
  color: inherit;
  display: block;
}


