
.logoPrisme {
  height: 6em;
  padding: 0;
}

.navBar {
    
    width: 100vw; /* 100% de la largeur du viewport */
    margin-left: calc(-50vw + 50%); /* Annule les marges du parent */
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* justify-content: center; */
    position: relative;
    border-bottom: 1px solid #2C5F7C;
    background-color: #E8EEF2;
    box-shadow: #7BA8A3 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.search {
  margin-top: 20px;
  height: 25px;
  width: 200px;
  padding: 5px;
  border-radius: 5px;
  border-style: none;
  box-shadow: #7BA8A3 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  border: 1px solid #7BA8A3;
}

.search:focus {
  outline: none;
}
.onglets {
    display: flex;
    align-items: center;
    gap: 5px;
}






