#root {
  max-width: 1280px;
  margin: 0 auto;
}

.logoPrisme {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logoPrisme:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}



@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.home {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  justify-content: center;
  
}

.titleHome {
  font-size: 3rem;
  margin-bottom: 50px;
  color: #2C5F7C;
}

.homeDiv {
  /* box-shadow: #7BA8A3 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px; */
  border-radius: 5px;
  background-color: #E8EEF2;
  padding: 2rem;
}

.pHome{
  font-size: large;
  color: #1A1A1A;
}

.underTitleHome {
  margin-bottom: 50px;
  font-size: 1.5rem;
  color: #1A1A1A;
}